<div class="container">
    <div class="left" >
        <h3><strong>About Me</strong></h3>
        <p>Hi! I'm Mamatha Vanga, a passionate and dedicated web developer with a strong foundation in backend and frontend technologies. I specialize in creating scalable and efficient applications with a keen eye for design and functionality. With a deep understanding of modern web technologies, I focus on building seamless user experiences while ensuring robust performance.

            I am well-versed in working with Python and Django, leveraging Django Rest Framework to design and build RESTful APIs. My goal is to develop backend systems that are both reliable and maintainable. On the frontend, I use Angular to craft interactive and responsive user interfaces, ensuring an enjoyable experience for users across all devices.</p>

   
    </div>
    
    <div class="right">
        <img src="assets/images.jpeg" alt="Image Description">
    </div>
</div>